@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 245, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}